body {
	padding: 1rem;
	padding-left:1.5rem;
	padding-right:1.5rem;	
}

#add-other {
	text-decoration:underline;
	display:none;
}

#add-other:before {
	content: "(";
}

#add-other:after {
	content: ")";
}

.other-timezone {
	margin-bottom: 1rem !important;
}

.grid {
	display: grid;
	grid-template-columns:1fr 1fr;
	gap: .5rem 1rem;
	
}

.grid-item {
	border: solid thin;
}


