body {
	padding: 1rem;
	padding-left:1.5rem;
	padding-right:1.5rem;	
}

footer {
	margin-top: 2rem;
	display:flex;
	justify-content: right;
	position: fixed;
	right: 1.25rem;
	bottom: 1rem;
}

#add-other {
	text-decoration:underline;
	display:none;
}

#add-other:before {
	content: "(";
}

#add-other:after {
	content: ")";
}

.other-timezone {
	margin-bottom: 1rem !important;
}

.grid {
	display: grid;
	grid-template-columns:1fr 1fr;
	gap: .5rem 1rem;
	
}

.grid-item {

}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

@media only screen 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

	  .grid {
		  grid-template-columns:1fr !important;
	  }
}
